
.kartya {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  
  .kartya img {
    width: 100%;
  }
  
 
  @media screen and (min-width: 768px) {
    .kartya {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  

  @media screen and (min-width: 1280px) {
    .kartya {
      grid-template-columns: repeat(5, 1fr);
    }
  }
